body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  background-color: #e1e1e1;
}

header{
    text-align:center;
    background-color: #230686;
    color: orange;
    padding: 0.45%;
}

#description{
    text-align: center;
    margin-top: 7%;
    font-size: 26px;

}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

#container {
  margin: 0 auto;
  background-color: rgb(244, 245, 236);
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  max-width: 460px;
  margin-bottom: 10%;
  animation: fadeIn 1s ease-in;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 1.25rem;
}


label#gender{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 34px;
    width: 96%;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
textarea, select {
  width: 100%;
  padding: 0.6rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  border: 1px solid black;
  font-size: 1rem;
}

input[type="submit"]{
    display: block;
    margin: 0 auto;
    width: 189px;
    height: 50px;
    border-radius: 42%;
    cursor: pointer;
    background-color: bisque;
    font-family: 'Open Sans';
    font-size: 17px;
    font-weight: bold;
    text-decoration: underline;

}

input[type="submit"]:hover{

    color: rgb(74, 7, 230);

}

footer {
  text-align: center;
  padding: 0.5rem;
  background-color: #1e1e2f;
  color: white;
}

